.productDialogTitle{
    text-align: center;
    color: white;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.detailProductDialogButtonAddToCart {
    width: 95%;
    height: 60px;
    margin-top: 5%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #33cc33;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.productDialogColName {
    width: 32%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

.productDialogColImage {
    width: 32%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

.productDialogColDescription {
    width: 32%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

.productDialogSmallDescription {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 5px;
    margin-right: 5px;
}

.productDialogSmallDescription {
    width: 100%;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 5px;
    margin-right: 5px;
}

.productDialogNameDiv {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Merriweather', 'serif';
}

.productDialogDiscountDiv {
    width: 90%;
    text-align: left;
    margin-left: 5px;
    font-size: 18px;
    display: inline-block;
}

.productDialogPriceDiv {
    width: 65%;
    text-align: left;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.productDialogDiscountPercentageDiv {
    width: 25%;
    text-align: left;
    color: blue;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.productDialogSizeDiv {
    font-size: 16px;
}

.buttonSize {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: whitesmoke;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonSizeSelected {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: green;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonSizeSelected div {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.buttonSize div {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
