.darkenImage {
    background-color: #1f648b;
}

.undarkenImage {
    background-color: white;
}

.invisible {
    display: none;
}

.productListWithBasket {
    width: 75%;
}

.productListWithOutBasket {
    width: 100%;
}

.productGridDetailButton {
    width: 40%;
    height: 50px;
    background-color: yellow;
    display: inline-block;
}

.productGridAddProductButton {
    width: 20%;
    height: 50px;
    background-color: purple;
    display: inline-block;
}

.divProductGridOptions {
    width: 100%;
    height: 60px;
}

.productBasketGeneralDiv {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.productBasketImageDiv {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.productBasketNameDiv {
    display: inline-block;
    vertical-align: top;
    width: 69%;
}